* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #4e42bd;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}
.container {
    max-width: 300px;
    margin: 0 auto;
}
#weather {
    padding: 20px;
    background-color: #95a5e9;
    color: #fff;
    margin: 20px auto;
    border-radius: 12px;
    box-shadow: 0 10px 43px #3b4a81;
}
#weather h3 {
    color: #fff;
    font-size: 32px;
}
h4 {
    margin: 0 0 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #fff;
}
